@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  //background: white;
  padding: 0;
  border-radius: 10px;
  //box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


input, textarea {
  all: unset;
  padding: 0.5rem;
  //border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 1.3rem;
  padding: 1em;
  text-align: left;
  color: #141e2e;
  background-color: white;
}

::placeholder{
  color: #0a1944;
  font-weight: 500;
}

/* ----------------- MEDIA QUERIES RESPONSIVE ----------------- */

/* Tablets */
@media (max-width: 992px) {
  .contacto {
    padding: 3rem 1.5rem;

    h2 {
      font-size: 2.8rem;
      text-align: center;
    }

    h3 {
      font-size: 1.4rem;
    }

    .formContainer {
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
    }

    .info, .form {
      width: 100%;
      padding: 1rem;
    }

    .info .logo img {
      width: 60%;
      margin: auto;
      display: block;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }

    button {
      width: 60%;
      font-size: 1.1rem;
      padding: 1rem;
    }
  }

  input,
  textarea {
    font-size: 1.1rem;
    padding: 0.8rem;
    border-radius: 30px;
  }
}

/* Celulares */
@media (max-width: 600px) {
  .contacto {
    padding: 2rem 1rem;

    h2 {
      font-size: 2.2rem;
      text-align: center;
    }

    h3 {
      font-size: 1.2rem;
    }

    .formContainer {
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      form{
        width: 100% !important;
      }
      
    }

    .info, .form {
      width: 100%;
      padding: 0.5rem;
    }

    .info .logo img {
      width: 80%;
      margin: 0 auto;
    }

    .datos p {
      font-size: 0.95rem;
    }

    input,
    textarea {
      font-size: 1rem;
      padding: 0.7rem;
    }

    button {
      width: 80%;
      font-size: 1rem;
      padding: 0.8rem;
    }
  }
    ._form_1h0sm_8{
    width: 100% !important;
  }
}