.bandera {
  margin-left: -10px;
  position: fixed;
  bottom: 8rem;
  left: 0;
  background-color: #1c73b8;
  color: white;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 0px 0 20px 0px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.2s;
}

.bandera:hover {
  background-color: #155b8a;
  transform: translateX(5px);
}
